__pycache__/
*.pyc
.venv/
venv/
.env
.DS_Store
data/chroma_db/
*.ipynb_checkpoints/
.idea/
.vscode/

# doc / md internes sauf le readme principal
*.md
!/README.md
!data/raw/README.md

# brouillons
docs/
